@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body {
  line-height: normal;
  background-color: rgb(var(--color-bg));
  color: rgb(var(--color-default));
  margin: 0;
  padding: 0;
}

html,
body {
  scrollbar-width: none;
}
::-webkit-scrollbar {
  display: none;
}

@layer utilities {
}
